/*page details START*/

.HTML{
    height: 100%;

}

.Page{
    background-color: rgb(27, 26, 26);;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 0%;
    margin-top: 0%;




}

.header{
    position: center;
    color:rgb(5, 5, 182);
    width: 1340px;
    height: 100%;
    z-index: 3;
    top: 0px;
    left: 2px;
}

.footer{
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    height: 50px;

}

.navContainer{
    position: center;
    height: auto;
    width: 100%;
    box-shadow:    5px 5px white;
    background-color: rgb(27, 26, 26);
    border-radius: 15px;
    
}

.nav{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    margin: auto;
}

.navObject{
    text-decoration: none;
    width: 100;
    padding-top: 10px;
    padding-left: 10px;
    padding-left: 10px;
    font-size: 20px;
    text-align: center;
    transition: 0.5ms;
    color: white;
}

.navObjectBarrier{
    color: white;
    
}

.navObject:hover{
    background-color:white ;
    color: black;
    border-radius: 100px;
    
}



/*Page Details END*/


/*Hero Image Starts*/
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("IMG-3143.jpg");
  padding-top: 20%;
  

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/*Hero Image Ends*/

.HelloContainer{
    padding-left: 30px;

}

.HelloFlex{
    display: flex;
    text-align: center;
    background: black;
    color: white;    
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow:   -10px 10px 5px  white;
    min-width: 300px;


}

.HelloIntro p {
    text-align: center;
   


}

.name{
    color:orange ;
 
}


.welcome{
    position: relative;
    top: 100px;
    left: 500px;
    color: white;
    font-weight: bold;
    font-size: 30px;

    text-shadow: -10px 10px black;

}

/*Contact Me START*/

.contactContainer{
    padding-left: 30px;

}

.contactFlex1{
    display: flex;
    text-align: center;
    background: rgb(248, 240, 228);
    color: black;    
    font-size: 30px;
    margin-top: 200px;

    align-items: center;
    justify-content: space-evenly;
    border: ridge 10px rgb(36, 34, 34);
    min-width: 300px;
    width: 1240px;
    position: relative;


}

.contactFlex2{
    display: flex;
    text-align: center;
    background: rgb(248, 240, 228);
    color: black;    
    font-size: 30px;
    margin-top: 50px;

    align-items: center;
    justify-content: space-evenly;
    border: ridge 10px rgb(36, 34, 34) ;
    min-width: 300px;
    width: 1240px;
    position: relative;


}

.contactFlex3{
    display: flex;
    text-align: center;
    background: rgb(248, 240, 228);
    color: black;    
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-evenly;
    border: ridge 10px rgb(36, 34, 34) ;
    min-width: 300px;
    width: 1240px;
    position: relative;


}

.contactFlex4{
    display: flex;
    text-align: center;
    background: rgb(248, 240, 228);
    color: black;    
    font-size: 30px;
    margin-top: 50px;

    align-items: center;
    justify-content: space-evenly;
    border: ridge 10px rgb(36, 34, 34);
    min-width: 300px;
    width: 1240px;
    position: relative;


}


.contactMe p {
    text-align: center;
}

.contact1
.contact2
.contact3
.contact4
{
    color:orange ;
 
}




.contactMeT{
    position: relative;
    top: 100px;
    left: 450px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: -10px 10px black;

}

.ContactMeDescription{
        position: relative;
    top: 100px;
    left: 45px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: -7px 7px black;
}

/*Contact Me END*/

/*Under Construction Start*/


.MPUC{
    position: relative;
    top: 100px;
    left: 120px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: -10px 10px black;

}

.AMUC{
    position: relative;
    top: 100px;
    left: 150px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: -10px 10px black;

}

.UC-Image{

    padding-top: 10%;
    padding-left: 40%;
  

    height: 10%;
  

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
}

.UC-Container{
    padding-left: 30px;
    padding-bottom: 20px;

}

.UC-Flex{
    display: flex;
    text-align: center;
    background: black;
    color: white;    
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow:   -10px 10px 5px  white;
    min-width: 300px;


}

.UC-Explination p {
    text-align: center;


}
/*Under Construction End*/